.idea/
docker-compose.yml
.env

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
yarn-error.log
###< symfony/webpack-encore-bundle ###

vendor/*
templates/vues/*

Migrations/*

var/cache/dev/
var/cache/log/
var/log