{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 w-100">
            {{ form_start(form) }}
            <div class="text-center mb-4">
                <i class="fas fa-shield-alt fa-6x my-4"></i>
                <h1 class="mb-4 font-weight-normal">Change password</h1>
            </div>
            <div class="form-label-group mb-3">
                {{ form_widget(form.plainPassword,{'attr':{'class':'form-control', 'required':'required', 'autofocus':'autofocus'}}) }}
                <label for="registration_form_email">Password</label>
            </div>
            <button class="btn btn-dark btn-lg btn-block">Change</button>
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
