@import "~bootstrap/scss/bootstrap";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import url('https://fonts.googleapis.com/css?family=Lobster');

/** colors **/
//$grey = #E7E7E7E7;

body {
  font-family: 'Lobster', cursive !important;
  background-color: whitesmoke;
}

/**
* security login and register form
 */
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group > input, .form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}